* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/Background image about.JPG');
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: #222;
  background-position: center;
}

.logo{
  width: 30
}

nav {
  opacity: 90%;
  background-color: var(--color-green-3);
  opacity: 90%;
  color: #dbb43e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 70px;
}

nav a {
  color: var(--color-yellow-2);
  font-family: var(--font-lora);
  text-decoration: none;
  font-size: clamp(1rem, 8vh, 1.2rem);
}

.header {
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  margin-top: 60px; 
}

.header h1 {
  font-family: var(--font-itc-benguiat);
  color: hsl(0,0%,95%);
}

section{
  background-color: var(--color-white);
}

.section {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  gap: 40px;
}

.section img {
  width: 40%;
  border-radius: 10px;
}

.text {
  width: 55%;
}

.text h2 {
  color: #264027;
}
 
.collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 40px 10%;
}

.collage div {
  background-color: #ddd;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-weight: bold;
}