* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.title-background {
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #3b2a26, #2c1e1a);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #a77b5b;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}


.title-text {
    color: #f2e0c9;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}


.nav-buttons {
    margin-top: 20px;
}

.nav-buttons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-buttons a {
    text-decoration: none;
    color: #e6c89f;
    font-size: 20px;
    transition: all 0.3s ease;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
}


.nav-buttons a:hover,
.nav-buttons a.active {
    background-color: #a77b5b;
    color: #fffaf2;
    transform: scale(1.05);
}


body {
    background-color: #201410;
    color: #f2e0c9;
    line-height: 1.6;
}


.about-content {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    background-color: #2a1b17;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.about-content h2 {
    color: #e6c89f;
    font-size: 42px;
    margin-bottom: 20px;
    text-align: center;
}
.about-content ul{
    text-align: center;
    word-spacing: 60px;
    font-style: bold;
}
.about-content li{
        text-align: center;
         display: inline-block; /* Make list items display horizontally */
      margin-right: 15px; /* Add spacing between items */
}

.about-content p {
    margin-bottom: 15px;
    text-align: justify;
}