* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('../images/background.jpg') center/cover no-repeat fixed;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    position: fixed;
    z-index: 0;
}

section {
    border: 2px solid black;
    width: 50%;
    padding: 100px;
}

div#card {
    background-color: red;
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

main h1 {
    font-size: 3rem;
    color: #fffaf0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main h2 {
    color: #fffaf0;
    margin-bottom: 10px;
    font-weight: normal;
}

main .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
}

main .buttons a {
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}

main .buttons a:hover {
    background: #333;
}

main .buttons .hollow {
    background: transparent;
    color: black;
    border: 1px solid black;
}

main .buttons .hollow:hover {
    color: white;
    border: 1px solid #333;
}