* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-open-sans);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-green-2);
}

body::before {
    backdrop-filter: blur(12px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

nav {
    height: var(--nav-height);
    background-color: color-mix(in srgb, var(--color-green-3) 80%, transparent);
    filter: brightness(1.1);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    box-shadow: var(--shadow-light);
    display: flex;
    padding: 0.5rem 1rem;
    z-index: 10;
    border-bottom: 3px solid var(--color-yellow-2);
    height: fit-content;
}

nav img#logo {
    height: clamp(2rem, 6vh, 4rem);
    width: auto;
    padding-left: 1rem;
}

nav h2 {
    color: var(--color-yellow-1);
    font-family: var(--font-serif);
    margin-left: 10px;
    font-size: clamp(1rem, 8vh, 1.7rem);
    margin-top: auto;
    margin-bottom: auto;
}

nav ul {
    width: fit-content;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    color: var(--color-yellow-2);
    margin-right: 40px;
    margin-left: auto;
    font-size: clamp(1rem, 8vh, 1.2rem);
}

nav li a {
    background-color: var();
    font-family: var(--font-cooper-bt);
    color: var(--color-yellow-2);
    text-decoration: none;
    padding: 1rem;
}

h1 {
    text-align: center;
}

.tree-card {
    background-color: color-mix(in srgb, var(--color-green-1) 40%, transparent);
    border-radius: var(--border-radius);
    margin-left: 1vw;
    box-shadow: var(--shadow);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tree-card .tree-image {
    background-size: cover;
    height: clamp(8rem, 100vw, 12rem);
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--border-radius);
    flex-shrink: 0;
    margin-right: 1rem;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.tree-info {
    flex: 1;
    text-decoration: none;
}

.tree-info h2 {
    font-size: 1.5em;
    color: var(--color-yellow-1);
    font-family: var(--font-itc-benguiat);
    font-weight: bold;
}

.tree-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #f7f7f5;
    font-family: var(--font-open-sans);
}

#map-container {
    background: url(../images/map.jpg);
    position: sticky;
    background-size: cover;
    height: 95%;
    width: 60%;
    border-radius: var(--border-radius);
    filter: grayscale(0.1) sepia(0.2);
    backdrop-filter: blur(2px);
    box-shadow: var(--shadow);
    margin: 1.5vw;
    align-self: center;
}

#tree-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: calc(100% - 0.5vw);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 0.5vw;
}

#tree-container::before,
#tree-container::after {
    content: "";
    flex: 0 0 1vw;
    /* space at start/end; adjust value as needed */
    width: 100%;
}

main {
    padding-top: var(--nav-height);
    display: flex;
    align-content: center;
    height: 100vh;
    justify-content: center;
}

@media (max-width: 1080px) {
    main {
        padding-top: 60%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #map-container {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    #tree-container {
        gap: 4vw;
        overflow-y: visible;
    }
    .tree-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }
    .tree-card .tree-image {
        margin-right: 0;
    }
}